h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito";
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
  color: $title;
}

h1 {
  visibility: hidden;
  position: absolute;
}

h2 {
  font-size: 3rem;

  @include media(md) {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2.6rem;

  @include media(md) {
    font-size: 3rem;
  }
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.2rem;
}
